<h1>Edit Story</h1>

<%= form_with(model: @story, local: true) do |form| %>

<p>
  <%= form.label :text %><br>
  <%= form.text_area :story %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>

<%= link_to 'Back', story_index_path%>


