
<%= form_with scope:
 :story, url:story_create_path, local: true do |form| %>

<p>
<%= form.label :title %><br>

<%= form.text_area :story %>
</p>

<p>
   <%= form.submit %>
</p>

<% end %>

<div>
<h4>Added Stories</h4>
<hr>
 <% @stories.each do |story| %>
    <p>Your Story<%= story.story %>
<%= link_to 'Edit', edit_story_path(story) %>
<%= link_to 'Delete', story_path(story), method: 
    :delete, data:{confirm: 'Are you sure?'} %>
<% end %>
<p>
</div>

